
$blue: dodgerblue;
$white: #fff;
$white1: #fafafa;
$black: #3D3D3D;
$gray-light: #f7f7f7;

$green: #CAF1DE;
$yellow: #FEF8DD;
$orange: #FFE7C7;

$red-dark: #A76A5A;
$blue-dark: #12485F;
$yellow-dark: #AC905B;

$font-size-1: 1.25rem;

$shadow: 1px 1px 6px rgba(0,0,0,.1)!important;


$purple-600: #5E35B1;
$purple-400: #7E57C2;